# 📦 Node modules
node_modules/

# 🚫 Entorno de Expo
.expo/
dist/
web-build/
expo-env.d.ts

# 🔒 Archivos de entorno
.env
.env.*
!.env.example

# 🛠️ Archivos temporales de Metro
.mexpo
.mexpo-shared
.mexpo-config
.mexpo-cache
.mexpo-test-cache
.metro-cache/
.metro-health-check*

# 📱 Archivos nativos no versionables
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# 🐞 Archivos de debug
npm-debug.*
yarn-debug.*
yarn-error.*

# 🧼 macOS
.DS_Store
*.pem

# ⚙️ TypeScript (si en algún momento lo usaste)
*.tsbuildinfo

# 💅 IDEs
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# 💾 Archivos de logs
*.log

# 💻 Archivos de sistema
Thumbs.db
Desktop.ini
